/* GENERAL */
* {
    font-family: "Raleway";
}

.pointer {
    cursor: pointer;
}

body {
    font-weight: 400;
    font-size: 17px;
}

header {
    position: relative;
    max-width: 1440px;
    height: 82px;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(162, 120, 216);
}

main {
    height: 1540px;
    max-width: 1440px;
    margin: 0 auto 0 auto;
    background-color: rgb(133, 162, 189);
    position: relative;
}

footer {
    margin: 0 auto 0 auto;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

h2 h3 {
    font-weight: bold;
}

/* NAV */

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
}

#logo img {
    padding-top: 57px;
    margin-left: 54px;
    height: 46px;
    cursor: pointer;
}

.colorLink13 {
    color: #0065FC;
}
.colorLink2 {
    color: black;
}


nav {
    display: flex;
    position: absolute;
    right: 165px;
}

a {
    text-decoration: none;
    color: black;
}

.navigation1 {
    padding: 45px 20px 0px 20px;
    border-top: 2px solid transparent;
    height: 110px;
    margin-right: 70px;
    text-align: center;
}

.navigation2 {
    padding: 45px 20px 0px 20px;
    border-top: 2px solid transparent;
    height: 110px;
    text-align: center;
}

.navigation1:hover {
    border-top: 2px solid #0065FC;
}

.navigation2:hover {
    border-top: 2px solid #0065FC;
}

.navigation:hover > .navigation1 {
    color: #0065FC;
}


.inscription {
    padding: 35px 0px 0px 0px;
    width: 120px;
    height: 15px;
    text-align: right;
    cursor: pointer;
    color: #0065FC;
    margin-right: 78px;
    font-size: 17px;
}

.inscription:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}


/*Filtres*/

.filtres {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.filtre {
    display: flex;
    margin-left: -3px;
}

.list1 {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 24px;
    height: 49px;
    width: 190px; 
}

.list2 {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px; 
    margin-right: 24px;
    height: 49px; 
    width: 150px;
}

.list3 {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 24px;   
    height: 49px;
    width: 180px; 
}

.list4 {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 24px;  
    height: 49px; 
    width: 240px; 
}

.espfiltre {
    padding-left: 20px;
    font-size: 1.15em;
    font-weight: 900;
}

#money, #child, #heart, #dog {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.3rem;
    width: 3.3rem;
    margin-left: -3px;
}

.list1:hover {
    color: #0065FC;
    background-color: #F2F2F2;
}

.list2:hover {
    color: #0065FC;
    background-color: #F2F2F2;
}

.list3:hover {
    color: #0065FC;
    background-color: #F2F2F2;
}

.list4:hover {
    color: #0065FC;
    background-color: #F2F2F2;
}

.list1:hover > #money {
    color: #DEEBFF;
    background-color: #0065FC;
}

.list2:hover > #child {
    color: #DEEBFF;
    background-color: #0065FC;
}

.list3:hover > #heart {
    color: #DEEBFF;
    background-color: #0065FC;
}

.list4:hover > #dog {
    color: #DEEBFF;
    background-color: #0065FC;
}



/*Hébergements*/
.prix {
    font-weight: bold;
}

.bluestars {
    color: #0065FC;
}

.greystars {
    color: #d1cfcf;
}

/*Populaire*/

/*Footer*/

.footerGrey {
    background-color: #F2F2F2;
    height: 218px;
    margin-top: 55px;
}

.sizeBlocFooter {
    height: 115px;
}

.margeRightFooter {
    margin-right: 368px;
}
