/* GENERAL */
* {
    font-family: "Raleway";
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decorationNone {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 h3 {
    font-weight: bold;
}

/* NAV */

.sizeLiens {
    width: 45%;
}

.sizeLien {
    width: 140px;
    height: 99px;
}

.colorLink13 {
    color: #0065FC;
}
.colorLink2 {
    color: black;
}

.bordureNAV {
    border-top: 2px solid #0065FC;
    width: 150px;
}

.logo {
    height: 50px;
    margin-top: 25px;
}

/*Filtres*/

#money, #child, #heart, #dog {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem
}

/*Main*/

.prix {
    font-weight: bold;
}

/*Footer*/

.footerGrey {
    background-color: #F2F2F2;
    height: 218px;
    margin-top: 55px;
}

.sizeBlocFooter {
    height: 115px;
}

.margeLeft {
    margin-left: 52px;
}

.margeRight {
    margin-right: 368px;
}
