@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-Black.ttf');
    src: url('fonts/Raleway-BlackItalic.ttf');
    src: url('fonts/Raleway-Bold.ttf');
    src: url('fonts/Raleway-BoldItalic.ttf');
    src: url('fonts/Raleway-ExtraBold.ttf');
    src: url('fonts/Raleway-ExtraBoldItalic.ttf');
    src: url('fonts/Raleway-ExtraLight.ttf');
    src: url('fonts/Raleway-ExtraLightItalic.ttf');
    src: url('fonts/Raleway-Italic.ttf');
    src: url('fonts/Raleway-Light.ttf');
    src: url('fonts/Raleway-LightItalic.ttf');
    src: url('fonts/Raleway-Medium.ttf');
    src: url('fonts/Raleway-MediumItalic.ttf');
    src: url('fonts/Raleway-Regular.ttf');
    src: url('fonts/Raleway-SemiBold.ttf');
    src: url('fonts/Raleway-SemiBoldItalic.ttf');
    src: url('fonts/Raleway-Thin.ttf');
    src: url('fonts/Raleway-ThinItalic.ttf');
}

* {
    font-family: 'raleway';
}

.logo {
    height: 50px;
    margin-top: 30px;
}
h2 h3 {
    font-weight: bold;
}